<?xml version="1.0" encoding="UTF-8"?>

<plugin>
    <class>org.jivesoftware.openfire.plugin.HazelcastPlugin</class>
    <name>${project.name}</name>
    <description>${project.description}</description>
    <author>Ignite Realtime</author>
    <version>${project.version}</version>
    <date>2025-01-06</date>
    <minServerVersion>4.8.1</minServerVersion>
    <minJavaVersion>17</minJavaVersion>
</plugin>
